

/* navigation bar */

.navList{
list-style-type: none;
background-color: black;
padding:5px;
margin:5px;
display:flex;
}



.navbar a{
color:white;
text-decoration: underline;
padding:5px;
display:block;


}

/* milkman card */
.card-body{
    border:1px black solid;
    width:340px;
    background-color: white;
    text-align:left;
    padding:5px;
    margin:8px;
    font-size: 20px;
   
}
/* parent container of first row */
.card_milkbtl{
display:flex;
flex-direction: row;

flex-wrap:wrap;
}

.milk_bottle{
    margin-left:auto;
    height:400px;
 
}

p.vint_1{
    text-align: left;
    background-color: white;
    border:black solid 1px;
}


.card{
    width:280px;
    display:flex;
    flex-direction: column;
    align-self: flex-start;
    margin-right: ;
}
.center{
     display: block;
    margin-left: auto;
   margin-right: auto;
    width: 50%;
}

/* logo
.logo_cont{
  background-color: white;
    font-size:40px;
    font-family:fantasy;
    text-align: center;
    border: 4px black solid;
    padding:0px;
    box-shadow: black 10px 10px;
    
} */

