/* navigation bar */

.navList2{
    list-style-type: none;
    background-color: black;
    padding:5px;
    margin:5px;
    display:flex;
    }
    
    
    
    .navbar2 a{
    color:white;
    text-decoration: underline;
    padding:5px;
    display:block;
    }

    /* subscription title */
    .membership_head{
        display:flex;
        flex-direction:row;
        justify-content: center;
        margin-top: 40px;
        margin-left:10px;
        padding:0px;
       
    }
    .subOp{
        font-size:20px;
        text-align:center;
        background-color: aliceblue;
        width: 400px;
        padding:0px;
        border:dashed black 2px;
    }
    td, th {
border: 1px solid black;
border-collapse:collapse;

text-align:center;
    }
    .table2{
        background-color:white;
    }
    .table1{
        display:flex;
        flex-direction:row;
       
        margin-top:50px;
        width:700px;
        height:500px;
        margin-left:auto;
        margin-right:auto;
    }
    .cowgif{
        display:flex;
        flex-direction:row;
       justify-content: center;
        margin-top:50px;
    
       
    }

