/* navigation bar */

.navList2{
    list-style-type: none;
    background-color: black;
    padding:5px;
    margin:5px;
    display:flex;
    }
    
    
    
    .navbar2 a{
    color:white;
    text-decoration: underline;
    padding:5px;
    display:block;
    }

    .container{
        background-color: aliceblue;
        width:600px;
        height:750px;
        display:flex;
        flex-direction:column;
        margin-left:auto;
        margin-right:auto;
        margin-top:80px;
        margin-bottom:80px;
        text-align:center;
        align-items: center;
        border:hotpink 3px dashed;
    }

    input[type=submit] {
        background-color:hotpink;
        color:darkgrey;
        padding:12px 20px;
        border:black 1px solid;
        border-radius: 1px 1px;
        cursor:pointer;
    }

    input,select,textarea{
        padding:10px;
        border: 1px solid black;
        box-sizing: border-box;
        margin-top:8px;
        margin-bottom:14px;
        display:flex;
        /* flex-direction:column; */
        justify-content: center;
        align-items: center;
    
        
    }